.perfil {
  line-height: 1;
  padding: 1rem;
}
.menu {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  button {
    display: none;
  }

  a:target {
    scroll-margin-top: 0.8em;
  }
}
.menulist {
  display: flex;
  flex-direction: row;
  list-style: none;
  li {
    padding: 1rem 2.5rem;
    a {
      &:hover {
        color: var(--primary-color);
        font-weight: 500;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .menuVisible {
    .menulist {
      visibility: hidden;
      width: 0;
      height: 0;
    }
    button {
      font-size: 1rem;
      display: inline;
      color: var(--white);
      background: transparent;
      border: transparent;
      margin-right: 1rem;
      padding: 0.2rem;
      svg {
        font-size: 2rem;
      }
    }
    .menulistmobile {
      display: flex;
      flex-direction: column;
      list-style: none;
    }
  }
}

.scroll_screen_menu {
  background-color: var(--bg-skills) !important;
  box-shadow: 2px 2px 4px -2px #7765ffbd;
}
