/*
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
:root {
  --bg-color: #0e1b31;
  --primary-color: #7865ff;
  --bg-card-port: #7765ffb2;
  --card-color: #102048;
  --scroll-bar-color: #c1ceff;
  --scroll-bar-thumb-color: #282f4e;
  --white: #ffff;
  --bg-skills: #132347;
  --blue-900: #060d1e;
}
.dark-mode:root {
  --bg-color: #ffffff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
body {
  background: var(--bg-color);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

/*

[data-theme='dark'] 
*/

/* scroll-bar */

::-webkit-scrollbar {
  width: 0.68rem;
  background: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--scroll-bar-thumb-color);
}
:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--primary-color);
}
