.Container {
  display: flex;
  flex-direction: column;
  
}
.experience_title h2 {
  color: var(--primary-color);
  margin-bottom: 0.95rem;
  font-size: 2rem;
  padding: 0 2rem;
}
.single_experience_container {
  align-self: center;
  padding: 1.8rem;
  background: var(--bg-skills);
  border-radius: 10px;
  margin: 2rem;
}
.single_experience {
  position: relative;
  padding: 1rem 2rem;
  z-index: 1;
}
.single_experience:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  background: var(--primary-color);
  color: var(--primary-color);
  z-index: 2;
}
.experience_icon {
  position: absolute;
  top: 0.8rem;
  left: -0.625rem;
  color: var(--primary-color);
  font-size: 1.2rem;
  z-index: 2;
}
.single_experience h6 {
  font-size: 0.8rem;
  opacity: 75%;
  font-weight: 300;
  margin-bottom: 0.625rem;
}
.single_experience h5 {
  font-size: 1.1rem;
  margin-bottom: 0.99rem;
}
.single_experience p {
  font-weight: 300;
  line-height: 1.5rem;
  font-size: 0.9rem;
}
@media only screen and (max-width: 510px){

  .single_experience_container{
    margin: 1rem;
  }

}
