.Container {
  margin: 5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.aboutMe {
  padding: 2rem;
  h6{
    color: var(--primary-color);
    margin-bottom: 0.95rem;
    font-size: 2rem;
}
  }


.modal_section {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  margin: 0 4rem;
  align-items: center;
  gap: 2rem;
  .Container_button {
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: 10px;
    .about_btn {
      border: none;
      outline: none;
      width: 100%;
      padding: 20px;
      color: var(--white);
      background-color: transparent;
      border-bottom: 1px solid var(--primary-color);
      border-radius: 5px 5px 0px 0px;

      &:last-child {
        border-bottom: 0;
        border-radius: 0px 0px 5px 5px;
      }
    }
  }
}
.about_content_wrapper {
  display: flex;
  gap: 1rem;
  h2 {
    font-weight: 600;
    line-height: 2;
  }
  p {
    font-weight: 200;
  }

  img {
    width: 12rem;
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  animation-name: topdown;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
.active {
  background: var(--primary-color) !important;
  transition: background 0.24s;
}
.social_links {
  h6 {
    padding: 0.4rem 0 0 0;
    font-size: 1rem;
  }
  .icon_about {
    font-size: 1.5rem;
    padding: 0.3rem 0;
    span {
      padding: 0 0.4rem;
      
    }
    span:hover {
      background: var(--bg-color);
      filter: brightness(1.2);
    }
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 894px){
  .modal_section{
    display: flex;
    flex-direction: column;
    .Container_button {
      width: 100%;
    }
  }
}